@import '../../mixins';

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(122, 123, 131);;
  opacity: 0.4;
  font-weight: 200;
 }

 ::placeholder {
   color: rgb(122, 123, 131);;
   opacity: 0.4;
   font-weight: 200;
 }

.minbtn {
  
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;

  &__input {
    display: block;    
    font-weight:300;    
    font-size: 2em;
    border: 0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(72, 73, 78);
    background: #ffffff;    
    
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:focus {
      border-bottom: 1px solid #ddd;
    }    
  }
}

@include respond-below(mummyshark) {
  .minbtn {
    
    &__input {
      font-size: 2em;
    }
  }
}

@include respond-below(mummyshark) {
  .minbtn {
    max-width: 400px;

    &__input {
      font-size: 1.5em;
    }
  }
}