@import '../../mixins';

.navbar {
  position: fixed;
  height: 50px;
  width: 100%;

  &--light {
    background: var(--default-theme-bg-color);
    color: var(--dark-theme-bg-color);
  }

  &--dark {
    background: var(--dark-theme-bg-color);
    color: var(--default-theme-bg-color);
  }

  &__text {
    fill-opacity: 0.7;
    transition: fill-opacity 0.5s ease-in;
    //transition: fill 0.2s ease-in-out;
    &--light {     
      fill: #b6c1c6;
    }

    &--dark {      
      fill: var(--default-theme-bg-color);
    }
    &--highlighted { 
      fill-opacity: 1;
    }
  }

  &__highlighted {
    &--dark {
      fill:#ffea00;
      fill-opacity: 1;
    }
  }

  &__square {
    fill-opacity: 0.6;
    transition: fill-opacity 0.5s ease-in;
    &--red {
      fill: #f80707;
    }
    &--green {
      fill: #07f80c;
    }
    &--blue {
      fill: #0c07f8;
    }
    &--highlighted {
      fill-opacity: 1;
    }
  }

  &__container {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
  }

  &__svg {
    width: 150px;
    height: 44px;
  }

  &__links {
    border: 2px solid rgba(10, 167, 230, 0.6); 
    padding: 0 1em; 
    border-radius: 20px;
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(122, 123, 131);
    &:first-child {
      margin-right: 15px;
    }

    &:hover {
      color: #e7d610;
    }
  }

  
}

.navbar__link:hover > .navbar__svg > .navbar__square, 
.navbar__link:hover > .navbar__svg > .navbar__text {
  fill-opacity: 1;  
}

// @include respond-above(daddyshark) {
//   .navbar {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     &__container {  
//       max-width: var(--container-max-width-ds);
//       width: 100%;
//     }
//   }
// }

@include respond-below(daddyshark) {
  .navbar {
    &__svg {
      width: 100px;
      height: 30px;
    }
  }
}

@include respond-below(mummyshark) {
  .navbar {
    height: 100px;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }    
    &__hamburger {
      display: block;
      position: absolute;
      right: 5%;
      top: 5%;
    }

    &__links {
      display: none;
    }
  }
}

@include respond-above(mummyshark) {
  .navbar {
    &__hamburger {
      display: none;
    } 
  }
}

@include respond-below(babyshark) {
  .navbar {
    
  }
}