@import '../../mixins';

.footer {
  &__container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;    
  }

  &__bg {
    display: inline-block;
    //position: absolute;
    width: 2000px;
    height: 257px;
    left: 0;
    bottom: 0;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em 0;    
  }

  &__container, &__details {
    &--light {
      background: var(--default-theme-bg-color);
    }

    &--dark {
      background: var(--dark-theme-bg-color);
    }
  }

  &__link {    
    text-decoration: none;
    &:hover {
      color: var(--text-color-hover);
    }

    &--light {
      color: var(--text-color);
    }

    &--dark {
      color: var(--default-theme-bg-color);

      &:hover {
        color: var(--link-hover);
      }
    }
  }

  &__logo {
    opacity: 0.75; 
    transition: opacity 500ms ease-in-out;   
  }  
}

.footer__link:hover > .footer__logo {
  opacity: 1;
}

@include respond-below(mummyshark) {
  .footer {
    &__bg {
      width: 1200px;
      height: 154px;
    }
  }
}

@include respond-above(babyshark) {
  .footer {
    &__toggle {
      display: none;
    }
  }
}