<div class="hexrgba">
  <div class="hexrgba__container">
    <div class="app__input-container">
      <cp-minimal-input [placeholderText]="'hexadecimal'" 
        (textChangedEvent)="onHexadecimalChanged($event)"></cp-minimal-input>
    </div> 
    <div *ngIf="rgba$ | async as rgba">
      <input [value]="getFriendlyRgba(rgba)" class="app__input"
        [ngStyle]="{ 'opacity': (opacity$ | async), 'color': getFriendlyRgba(rgba) }">   
    </div>

    <div class="app__balloon" [@riseFall]="isRising ? 'rise' : 'fall'">
      <a href="#" (click)="toggle()">
        <cp-balloon></cp-balloon>
      </a>
    </div>
  </div>
</div>
