@import '../../mixins';

.hexrgba {
  &__input-container {
    display: flex;
    justify-content: center;
  }

  &__input {
    display: block;    
    font-weight:300;
    width: 100%;
    font-size: 2em;
    border: 0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    background: #ffffff;   
    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:focus {
      border-bottom: 1px solid #ddd;
    }
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__balloon {
    position: absolute;
    right: 25;
    bottom: 25;
    z-index: 1000;
  }
}