@import '../../mixins';

.hexrgba {
  &__input-container {
    display: flex;
    justify-content: center;
  }

  &__input {
    display: block;    
    font-weight:300;
    width: 100%;
    font-size: 2em;
    border: 0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:focus {
      border-bottom: 1px solid #ddd;
    }

    &--light {
      background: var(--default-theme-bg-color);
      color: var(--dark-theme-bg-color);
    }

    &--dark {
      color: var(--default-theme-bg-color);
      background: var(--dark-theme-bg-color);
      opacity: 1;
    }
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__balloon {
    position: absolute;
    right: 25;
    bottom: 25;
    z-index: 1000;
  }
}

@include respond-below(babyshark) {
  .hexrgba {

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input {
      font-size: 1.5em;
    }
  }
}

@include respond-below(tinyshark) {
  .hexrgba {
    &__input {
      font-size: 1em;
    }
  }
}