@import '../../mixins';

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(122, 123, 131);
  opacity: 0.4;
  font-weight: 200;
 }

 ::placeholder {
   color: rgb(122, 123, 131);;
   opacity: 0.4;
   font-weight: 200;
 }

.hexbin {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 1em 2em;  

  &--light {
    box-shadow: 5px 5px 4em 1px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 5px 5px 4em 5px rgb(0 0 0 / 15%);
  }

  &--dark {
    box-shadow: 5px 5px 4em 1px rgb(0 0 0 / 35%);
    -webkit-box-shadow: 5px 5px 4em 5px rgb(0 0 0 / 50%);
    background: var(--dark-theme-bg-color);
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
  
  &__input, &__textarea {
    display: block;    
    font-weight:300;    
    font-size: 2em;  
    border: 0px;  
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    background: #ffffff; 
    padding: var(--padding-input-standard);    

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &--light {
      background: var(--default-theme-bg-color);
      color: var(--color-text-light);
    }

    &--dark {           
      color: var(--color-text-dark);
      background: var(--dark-theme-bg-color);
    }
  }

  &__input {
    border-radius: 5px;
    margin: 30px 0px;
    &--dark {
      border: 1px solid var(--color-border-standard-dark);

      &:focus {
        border-color: var(--color-border-focus-dark);      
        box-shadow: var(--shadow-border-focus-dark);
      }  
    }

    &--light {
      border: 1px solid var(--color-border-standard-light);
      color: var(--dark-theme-bg-color);
      background: var(--default-theme-bg-color);

      &:focus {
        border-color: var(--color-border-focus-light);
        box-shadow: var(--shadow-border-focus-light);
      }
    }      
  }

  &__textarea {
   height: 160px;
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__decimal {

  }
}

@include respond-above(daddyshark) {
  .hexbin {
    &__container {
      max-width: 1200px;
    }
  }
}

@include respond-below(babyshark) {
  .hexbin {

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input {
      font-size: var(--input-font-size-bs);
    }

    &__decimal {
      width: 100%;
    }
  }
}

@include respond-below(tinyshark) {
  .hexbin {
    &__input {
      font-size: var(--input-font-size-ts);
    }
  }
}