<div class="hexbin" [class.hexbin--dark]="(theme$ | async) === 'dark'"
[class.hexbin--light]="(theme$ | async) === 'light'">
  <div class="hexbin__container">
    <!-- <cp-minimal-input [placeholderText]="'hexadecimal'" 
      (textChangedEvent)="onHexadecimalChanged($event)"></cp-minimal-input> -->
      <input #hexInput placeholder="hexidecimal" [(ngModel)]="data"
        class="hexbin__input" 
        [class.hexbin__input--dark]="(theme$ | async) === 'dark'"
        [class.hexbin__input--light]="(theme$ | async) === 'light'">        
      <textarea class="hexbin__textarea" placeholder="binary" [value]="binaryValue$ | async"
        [class.hexbin__textarea--dark]="(theme$ | async) === 'dark'"
        [class.hexbin__textarea--light]="(theme$ | async) === 'light'" readonly></textarea>

      <div class="hexbin__balloon"
        [class.hexbin__balloon--risen]="(isRising$ | async)"
        [class.hexbin__balloon--fallen]="!(isRising$ | async)">
        <cp-balloon></cp-balloon>       
    </div>
  </div>
</div>

