@import '../../mixins';

.clearbtn {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  transition: opacity 0.5s ease-in;
  &--dark {
   color: var(--default-theme-bg-color);
   
  }

  &--light {
    color: var(--dark-theme-bg-color);
    background: var(--default-theme-bg-color);
  }
  
  &:hover {
    opacity: 1.0;
    cursor: pointer;
  }

  &::before, &::after {
    position: absolute;
    //left: 15px;
    content: ' ';
    height: 35px;
    width: 3px;
    background-color: #333;
    margin-top: -15px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@include respond-below(mummyshark) {
  .clearbtn {
    width: 30px;
    height: 30px;

    &::before, &::after {
      position: absolute;
      //left: 15px;
      content: ' ';
      height: 30px;
      width: 3px;
      
      margin-top: -12px;      
    }
  }
}

