
.toggledm {
  position: relative;
  width: 80px; 

  &__label {
    position: absolute;
    width: 100%;
    height: 40px;
    //background-color: rgba(102, 102, 102, 0.3);
    border: 2px solid rgba(10, 167,230, 0.6);
    border-radius: 20px;
    cursor: pointer;
  }
  
  &__input {
    position: absolute;
    display: none;
    
    &:checked ~ .toggledm__slider {
      background-color: var(--default-theme-bg-color);
    }

    &:checked ~ .toggledm__slider::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 45px;
      width: 30px;
      height: 30px;
      border-radius: 50%;      
      background-color: #ffea00;
      box-shadow: none;
      transition: 0.3s;
    }
  } 

  &__slider {
    position: absolute;
    
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
    
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 8px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      box-shadow: inset 10px -4px 0px 0px var(--default-theme-bg-color);
      background-color: var(--dark-theme-bg-color);
      transform: translateX(0px);
      transition: 0.3s;
    }
  }
}
