/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  //background: #fefefe;
  color: #161618;
}

:root {
  --nav-bar-height: 50px;
  --footer-height: 100px;
  --text-color: #333333;
  --text-color-hover: #333333AE;
  --text-standard-grey: rgb(122, 123, 131);

  --dark-theme-bg-color: #0d1117;
  --default-theme-bg-color: #fefefe;

  --link-hover: #ffea00;

  --input-font-size-bs: 1.5em;
  --input-font-size-ts: 1.2em;

  --light-sky: #0aa7e6;

  --container-max-width-ds: 1200px;

  //border styles
  --color-border-standard: #30363c;
  --color-border-focus: #f0dd09;
  --shadow-border-focus: 0 0 0 3px #686005;

  //input styles
  --padding-input-standard: 5px 10px;
}